$primary-color: rgb(116, 128, 115);
$secondary-color: hsl(60, 100%, 94%);

$font-type: cursive;
$font-weight-light: 500;
$font-weight-medium: 600;
$font-weight-heavy: 750;

$shadow-fx-color-version-1: 0 0 10px 2px;
$shadow-fx-color-version-2: 6px 6px rgba(63, 63, 63, 0.350), -6px -6px rgba(63, 63, 63, 0.350);

$letter-color: beige;
$secondary-letter-color: hsl(60, 100%, 94%);
$third-letter-color: rgb(68, 92, 66);

$radius-border-soft: 4px;
$radius-border-mid: 5px;
$radius-border-strong: 10px;

$bottom-border: gainsboro solid 3px;

$hover-BG-color-next: rgb(8, 99, 8);
$hover-BG-color-return: rgb(175, 9, 9);

body {
    background-color: $primary-color;
}

//INDEX.HTML
.index-main {
    div {
        border:rgb(68, 83, 62) solid 2px;
        border-radius: 10px;
    }

    h1{
        font-family: $font-type;
        font-size:xx-large;
        text-align: center;
        color: $letter-color;
        text-shadow:$shadow-fx-color-version-1;
        font-weight: $font-weight-heavy;
    }

    .name {
        text-align: center;
        padding: 5px;
        color: $letter-color; 
    }

    .description {
        text-align: center;
        color: $letter-color;
        font-family: $font-type;
        font-weight: $font-weight-light;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 15px;
    }

    .fake-button {
        text-align: center;
        border: solid black 2px;
        border-radius: 10px;
        padding: 8px;
        margin-left: 45%;
        text-decoration: none;
        color: $letter-color;
        font-family: $font-type;
        font-weight: $font-weight-light;
        margin-bottom: 15px;
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
        transition: 1s;
        &:hover {
        font-weight: $font-weight-medium;
        color:$secondary-letter-color;
        border: rgb(44, 43, 43) solid 2px;
        box-shadow: $shadow-fx-color-version-1;
        }
    }
}

//TOPIC CHOICE GRID IN QUESTION.HTML
.topic-h1 {
    text-align: center;
    color: $letter-color;
    font-weight: $font-weight-medium;
    padding-bottom: 5px;
}

#topic-container {
    border: black solid 2px;
    border-radius: 10px;
    max-width: 100%;
    background-color: #bbb9b9;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 20px 0;
    text-align: center;

    .topic-button {
        background-color: $primary-color;
        color: $letter-color;
        padding: 20px;
        margin: 1px;
        font-weight: $font-weight-heavy;
        font-size: 800;
        border-radius: $radius-border-mid;
        transition: 1s;
            &:hover {
                color: $third-letter-color;
                background-color: $secondary-color;
            }
    }
}

//QUESTIONS IN QUESTION.HTML
#question-container {
    border: black solid 2px;
    box-shadow: $shadow-fx-color-version-1;
    border-radius: $radius-border-soft;

    .question-header {
        text-align: center;
        color: $letter-color;
        font-family: $font-type;
        font-weight: $font-weight-light;
        border-bottom: $bottom-border;
        margin-bottom: 5px;
    }

    #questionsDis {
        background-color: gainsboro;
        text-align: center;
        padding: 15px;
        border: solid 3px $letter-color;
        border-radius: 8px;
        font-family: $font-type;
    }

    .container {
        background-color: $primary-color;
        text-align: center;
        border-radius: 8px;
    }

    .answer {
        border-radius: 10px;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 50px;
        font-family: $font-type;
        font-weight: $font-weight-medium;
        transition: 0.5s;
            &:hover {
                background-color: $primary-color;
                color: $letter-color;
                border-color: $letter-color;
                box-shadow: $shadow-fx-color-version-1;
            }
    }

    #next {
        border-radius: 10px;
        padding: 10px;
        margin-right: 5px;
        font-family: $font-type;
        font-weight: $font-weight-medium;
        transition: 1.5s;
            &:hover {
                background-color: $hover-BG-color-next;
                color: $letter-color;
                border-color: $letter-color;
                box-shadow: $shadow-fx-color-version-1;
            }
    }

    #return {
        border-radius: 10px;
        padding: 10px;
        margin-left: 5px;
        font-family: $font-type;
        font-weight: $font-weight-medium;
        transition: 2s;
            &:hover {
                background-color: $hover-BG-color-return;
                color: $letter-color;
                border-color: $letter-color;
                box-shadow: $shadow-fx-color-version-1;
            }
    }
}