body {
    background-color: lightgrey;
}

.index-main {
    border: solid 3px black;
    border-radius: 10px;
}


#header {
    text-align: center;
    font-family: 'Schoolbell', cursive;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    border-radius: 8px;
    padding: 20px;
    transition: 0.5s;
    font-size: larger;
}

a:hover {
    background-color: red;
    color: white;
}

.topic-h1 {
    text-align: center;
}

#topic-container {
    max-width: 100%;
    background-color: burlywood;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 20px 0;
    text-align: center;
  }

#cars {
    border: none;
    border-radius: 5px;
    background-color: lightblue;
    color: purple;
    padding: 10px;
    transition: 0.5s;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

#cars:hover {
    background-color: red;
    color:aliceblue;
}
.question-header {
    background-color: white;
    text-align: center;
    border: solid 3px black;
    border-radius: 8px;
}

.container {
    background-color: white;
    text-align: center;
    border: solid 3px black;
    border-radius: 8px;
}

#questions {
    background-color: white;
    border: solid 2px black;
    border-radius: 10px;
    margin-top: 20px;
}

#answer1, #answer2, #answer3, #answer4 {
    background-color: purple;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.5s;
}

#answer1:hover, #answer2:hover, #answer3:hover, #answer4:hover {
    background-color: white;
    color: red;
}

#next {
    background-color: beige;
    color: blue;
    border-radius: 10px;
    border: none;
    padding: 10px;
    transition: 0.5s;
}

#next:hover {
    background-color: hotpink;
    color: black;
}

#return {
    background-color: beige;
    color: blue;
    border-radius: 10px;
    border: none;
    padding: 10px;
    transition: 0.5s;
}

#return:hover {
    background-color: pink;
    color: black;
}
