body {
    background-color: lightgrey;
    border: solid black 3px;
    border-radius: 10px;
}

#header {
    text-align: center;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    border-radius: 8px;
    padding: 20px;
    transition: 0.5s;
    font-size: larger;
}

a:hover {
    background-color: red;
    color: white;
}

.topic-h1 {
    text-align: center;
}