body {
    background-color: lightgrey;
}

.index-main {
    border: solid 3px black;
    border-radius: 10px;
}

#header {
    text-align: center;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    border-radius: 8px;
    padding: 20px;
    transition: 0.5s;
    font-size: larger;
}

a:hover {
    background-color: red;
    color: white;
}

.topic-h1 {
    text-align: center;
}

#topic-container {
    max-width: 100%;
    background-color: burlywood;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 20px 0;
    text-align: center;
  }

.topic {
    border: none;
    border-radius: 5px;
    background-color: lightblue;
    color: purple;
    padding: 10px;
    transition: 0.5s;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

#topic:hover {
    background-color: red;
    color:aliceblue;
}